label {
	width: 10em;
	padding-right: 1em;
	float: left;
}

input {
	margin-bottom: .5em;
}

.regDiv {
	margin: auto;
	width: 30%;
	border: 1px solid black;
	text-align: center;
	margin-top: 30px;
	padding: 10px;
}

